.nav-link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text-link {
  text-decoration: none;
  color: #98B06F;
}

.nav-route-li {
  align-self: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-link-list {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: inherit;
  justify-content: space-between;
}

.login-button-container, .profile-icon-container {
  width: fit-content;
}

.nav-button-container {
  display: flex;
  flex-direction: row;
  margin-right: 5em;
  align-items: center;
}

.nav-button-li {
  align-self: center;
}

.nav-avatar {
  margin-top: 0.35em;
  width: 4em;
  height: 4em;
}

.nav-logo-li {
  margin-left: 1em;
}

.nav-logo {
  height: 8em;
  width: 100%;
}

#nav-bar {
  background-color: #211C20;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  position: sticky;
}
