.add-to-list-container {
  height: auto;
}

.word-dropdown-content {
  text-align: center;
  display: table;
  margin: auto;
  margin-bottom: 1em;
  border: 1px solid;
  border-color: #29CCBF;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 0 10px #29CCBF;
  width: auto;
  background-color: #211C20;
}

#searched-word-header {
  text-align: center;
  font-style: italic;
  color: #211C20;
  text-decoration: underline;
}

.word-name-header {
  text-align: center;
  color: #98B06F;
}

.explorer-list-names {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.explorer-list-names > a {
  text-decoration: none;
  margin-right: 1.0em;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em;
  border-color: #29CCBF;
  background-color: #262B31;
  color: #29CCBF;
}

.explorer-list-names > a:hover {
  background-color: #8FA1A9;
}

.word-header-divider {
  width: 15%;
}

.list-dropdown {
  text-align: center;
}

.word-name-divider {
  margin-bottom: 1.5em;
  width: 50%;
  margin-top: 0.5em;
  color: #262B31;
}

.add-to-list-button {
  margin-bottom: 1.5em;
}

.add-word-response {
  color: #98B06F;
  margin-top: 1em;
  margin-bottom: 0;
}
