.definition-container {
  height: auto;
  text-align: center;
}

.example-sentence-container {
  height: auto;
  text-align: center;
}

.outer-word-property-container {
  display: grid;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  height: auto;
}

.definition-and-example-container {
  text-align: center;
  display: table;
  margin: auto;
  margin-bottom: 1em;
  border: 4px solid;
  border-style: groove;
  border-color: #262B31;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  width: auto;
  height: auto;
  background-color: #211C20;
}

.word-property-header {
  text-align: center;
  color: #98B06F;
  font-family: Verdana;
  font-size: 1.3em;
}

.word-property, .word-response-definition, .example-sentence {
  height: auto;
  color: #98B06F;
}

.word-property > p {
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0;
}

.word-property-container {
  margin: auto;
  margin-bottom: 1em;
  border: 4px solid;
  border-style: groove;
  border-color: #262B31;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  background-color: #211C20;
}

.property-container-divider {
  margin-bottom: 1.5em;
  width: 50%;
  margin-top: 0.5em;
  color: #A5ACBB;
}
