.word-explorer-header {
  text-align: center;
}

.word-explorer-search-form {
  display: table;
  margin: auto;
  border: none;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.word-explorer-input-container {
  display: table-row;
}

.word-explorer-input-label {
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
}

.word-explorer-input-field {
  display: table-cell;
}

.word-explorer-button-container {
  text-align: center;
}

.word-explorer-submit {
  margin-top: 1em;
}
