.word-explorer-header {
  text-align: center;
}

.word-explorer-search-form {
  display: table;
  margin: auto;
  border: 4px solid;
  border-style: groove;
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  background-color: #211C20;
  border-color: #262B31;
}

.word-explorer-input-container {
  display: table-row;
}

.word-explorer-input-label {
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
  color: #98B06F;
}

.word-explorer-input-field {
  display: table-cell;
  background-color: #262B31;
  border-color: #29CCBF;
  color: #29CCBF;
}

.word-explorer-input-field:focus {
  outline: none !important;
  border: 1px solid;
  box-shadow: 0 0 10px #29CCBF;
  border-color: #29CCBF;
}

.word-explorer-button-container {
  text-align: center;
}

.word-explorer-submit {
  margin-top: 1em;
}
