.form-button {
  background-color: #27CC61;
  font-size: 1.1em;
  border: none;
  padding: 0.7em;
  color: #CC2792;
  cursor: pointer;
  text-align: center;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
}

.form-button:hover {
  background-color: #569F70;
}

.form-button:disabled {
  background-color: #125d2c;
  color: #5d1242;
  cursor: not-allowed;
}
